* {
  margin: 0;
  padding: 0;
}

.main-navbar {
  height: 150px;
  width: 100%;
  background: white;
  font-family: "Clash Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.left {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}

.navigation {
  display: flex;
  gap: 30px;
}

.navigation span {
  cursor: pointer;
}

.right {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  gap: 30px;
}

.right button {
  padding: 20px;
  width: 150px;
  height: 100%;
  font-family: "Clash Display", sans-serif;
}

.loginBtn {
  background: white;
  color: rgb(33, 33, 223);
  border: 1px solid rgb(33, 33, 223);
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
}

.signupBtn {
  background: rgb(33, 33, 223);
  color: white;
  border: 1px solid rgb(33, 33, 223);
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Clash Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
