* {
  margin: 0;
  padding: 0;
}

.first-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Clash Display", sans-serif;
  flex-direction: column;
  gap: 36px;
  margin-top: 45px;
}

.first-section h1 {
  width: 1000px;
  font-size: 40px;
  text-align: center;
}

z {
  color: goldenrod;
}

.text {
  overflow: hidden;
}

#lets-go-btn {
  padding: 14px;
  background: rgb(33, 33, 223);
  color: white;
  border: 1px solid rgb(33, 33, 223);
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Clash Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@media (max-width: 579px) {
  .first-section h1 {
    font-size: 30px;
  }
}
